<%= form_for @conn, page_path(@conn, :signin), [as: :user], fn f -> %>
  <%= text_input f, :username, placeholder: "Name...", class: "form-control" %>
  <%= submit "Sketch!", class: "btn btn-primary" %>
<% end %>